{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>{% block title %}Django на Хекслете{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul class="nav">
            <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
            <li class="nav-item"><a href="/articles/" class="nav-link">Статьи</a></li>
            <li class="nav-item"><a href="/about/" class="nav-link">О сайте</a></li>
        </ul>
    {% endblock %}
</div>
{% bootstrap_messages %}
<div id="content" class="container mt-4">
    {% block content %}{% endblock %}
</div>
</body>
</html>